### Column selection, addition, deletion

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [4]:
d = {'one' : [1., 2., 3., 4.],
     'two' : [4., 3., 2., 1.]}

In [5]:
df = pd.DataFrame(d)

In [6]:
df

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

### Selecting column in pandas

In [11]:
df['one']

0    1.0
1    2.0
2    3.0
3    4.0
Name: one, dtype: float64

### Adding Column

In [9]:
df['three'] = [5.,6., 7., 8.]

In [10]:
df

   one  two  three
0  1.0  4.0    5.0
1  2.0  3.0    6.0
2  3.0  2.0    7.0
3  4.0  1.0    8.0

In [12]:
df['four'] = df['one'] * df['two']

In [13]:
df

   one  two  three  four
0  1.0  4.0    5.0   4.0
1  2.0  3.0    6.0   6.0
2  3.0  2.0    7.0   6.0
3  4.0  1.0    8.0   4.0

In [14]:
df['is_>3'] = df['two']>3

In [15]:
df

   one  two  three  four  is_>3
0  1.0  4.0    5.0   4.0   True
1  2.0  3.0    6.0   6.0  False
2  3.0  2.0    7.0   6.0  False
3  4.0  1.0    8.0   4.0  False

In [17]:
# Select top 2 row from column named "one"
df['one'][:2]

0    1.0
1    2.0
Name: one, dtype: float64

#### By default, columns get inserted at the end. The insert function is available to insert at a particular location in the columns

In [20]:
df.insert(1, 'flag', df['is_>3'])

In [21]:
df

   one   flag  two  three  four  is_>3
0  1.0   True  4.0    5.0   4.0   True
1  2.0  False  3.0    6.0   6.0  False
2  3.0  False  2.0    7.0   6.0  False
3  4.0  False  1.0    8.0   4.0  False

## Indexing / Selection

In [29]:
d = {'Operation': ['Select column', 'Select row by label', 'Select row by integer location', 'Slice rows', 'Select rows by boolean vector'],
    'Syntax': ['df[col]', 'df.loc[label]', 'df.iloc[loc]', 'df[5:10]', 'df[bool_vec]'],
    'Result': ['Series', 'Series', 'Series', 'DataFrame', 'DataFrame']}
df = pd.DataFrame(d, index=[1,2,3,4,5])
df

                        Operation         Syntax     Result
1                   Select column        df[col]     Series
2             Select row by label  df.loc[label]     Series
3  Select row by integer location   df.iloc[loc]     Series
4                      Slice rows       df[5:10]  DataFrame
5   Select rows by boolean vector   df[bool_vec]  DataFrame

In [30]:
# Select Column
df['Operation']

1                     Select column
2               Select row by label
3    Select row by integer location
4                        Slice rows
5     Select rows by boolean vector
Name: Operation, dtype: object

##### Select row by label

In [31]:
df.loc[1]

Operation    Select column
Syntax             df[col]
Result              Series
Name: 1, dtype: object

###### Select row by integer location

In [32]:
df.iloc[1]

Operation    Select row by label
Syntax             df.loc[label]
Result                    Series
Name: 2, dtype: object

###### Slice rows

In [34]:
df[2:5]

                        Operation        Syntax     Result
3  Select row by integer location  df.iloc[loc]     Series
4                      Slice rows      df[5:10]  DataFrame
5   Select rows by boolean vector  df[bool_vec]  DataFrame